.taskField {
  width: 100%;

  .taskContent{
    display: flex;
    align-items: center;
    height: 30px;
    border-bottom: 1px solid lightgray;
    .completed {
      width: 10px;
      height: 10px;
      border-radius: 3px;
      background-color: blue;
    }
    .notCompleted {
      width: 10px;
      height: 10px;
      border-radius: 3px;
      border: 1px solid gray;
    }
  }
}
